<a href="https://colab.research.google.com/github/Anmolkr1909/First_day/blob/main/operator_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**#Operator (.py)**

----

**Airthmatic operator**

---

1) Calculate total price of items

-  price of one item = 50
-total item (quantity) = 3

In [ ]:
price = 50
quantity = 3

total_price = price * quantity
print(total_price)

150



---

2) Finding average marks
*   math = 90
*  english = 85
*  science = 80
*  computer = 98

In [ ]:
math = 80
english = 85
science = 80
computer = 98

average_marks = (math + english + science + computer)/4
print(average_marks)

85.75



---

3) Convert temprature
 * celsius to fahrenheit
 * celsius = 37

In [ ]:
celsius = 37
fahrenheit = (celsius * 9/5) + 32
print(fahrenheit)

98.6



---

4) Split bill Between friends
  * total_bill = 24000
  * friends = 4

In [ ]:
total_bill = 24000
friends = 4

each_pay = total_bill / friends
print(each_pay)

6000.0



---

5) For calculating simple interest
*   principal = 500000
*   rate = 5  (percent)
*   time = 2   (year)

In [ ]:
principal = 500000
rate = 5
time = 2

simple_interest = (principal * rate * time)/100
print(simple_interest)

50000.0



---