<a href="https://colab.research.google.com/github/Anmolkr1909/First_day/blob/main/operator_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Operator (.py)

----

**Airthmatic operator**

---

1) Calculate total price of items

-  price of one item = 50
-total item (quantity) = 3

In [ ]:
price = 50
quantity = 3

total_price = price * quantity
print(total_price)

150



---

2) Finding average marks
*   math = 90
*  english = 85
*  science = 80
*  computer = 98

In [ ]:
math = 80
english = 85
science = 80
computer = 98

average_marks = (math + english + science + computer)/4
print(average_marks)

85.75



---

3) Convert temprature
 * celsius to fahrenheit
 * celsius = 37

In [ ]:
celsius = 37
fahrenheit = (celsius * 9/5) + 32
print(fahrenheit)

98.6



---

4) Split bill Between friends
  * total_bill = 24000
  * friends = 4

In [ ]:
total_bill = 24000
friends = 4

each_pay = total_bill / friends
print(each_pay)

6000.0



---

5) For calculating simple interest
*   principal = 500000
*   rate = 5  (percent)
*   time = 2   (year)

In [ ]:
principal = 500000
rate = 5
time = 2

simple_interest = (principal * rate * time)/100
print(simple_interest)

50000.0



---

6) Area of circle
* Radius = 8
* pi = 3.14

In [ ]:
radius = 8
pi = 3.14

area = pi * radius * radius
print("The area of circle:",area)

The area of circle: 200.96



---

7) Monthly Salary from annual package  
*   Annual salary = 600000
*   Monthly salary = ?

In [ ]:
annual_salary = 600000
monthly_salary = annual_salary / 12
print("The montly salary is:", monthly_salary)

The montly salary is: 50000.0



---

8) Body mass index (BMI) calculator
*   weight = 60 kg
*   height = 1.65 meters

In [ ]:
weight =  60
height = 1.65

bmi = weight / (height * height)
print("The BMI is:", bmi)

The BMI is: 22.03856749311295



---

9) Speed calculation
*   distance = 2000 km
*   time = 3 hour

In [ ]:
distance = 2000
time = 3

speed = distance / time
print("The speed is:", speed)



---

10) Emi per month for loan
*   total loan = 1800000
*   months = 12

In [ ]:
total_loan = 1800000
months = 12

emi = total_loan / months
print("The emi per month is:", emi)

The emi per month is: 150000.0



---

11) Wallet balance
*   Wallet = 600
*   spent = 335

In [ ]:
wallet_balance = 600
spent = 335

wallet_balance = wallet_balance - spent
print("The wallet balance is:", wallet_balance)

The wallet balance is: 265

12) Exact pages in books
*   total pages = 107
*   pages per book = 25

In [ ]:
total_pages = 107
pages_per_book = 25

exact_pages = total_pages // pages_per_book  #with help of floor divison
print("The exact pages in books is:", exact_pages)

The exact pages in books is: 4

13) left overpages
*  total pages = 107
*  pages per book = 25

In [ ]:
total_pages = 107
pages_per_book = 25

left_over_pages = total_pages % pages_per_book  #modulas
print("The left over pages is:", left_over_pages)

The left over pages is: 7



---

14) Square of a number


*   number = 4
*   square = ?

In [ ]:
number = 4
square = number * number

print("The square of a number is:", square)

The square of a number is: 16



---

15) Population growth example


*   intial population = 1000
*   year = 5

It doubles every year

In [ ]:
intial_population = 1000
year = 5

final_population = intial_population * (2 ** year)
print("The final population is:", final_population)

The final population is: 32000



---